
#main-container-1 {
  border: 4px solid red;
}

#container-2-header {
  border: 3px solid blue;
}

#container-3-body {
  border: 3px solid violet;
}

#container-5-retrograde {
  border: 4px solid orange;
}
#container-8-form {
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 120px; 
  border: 4px solid black;
}

.form-header-text {
  font-size: 8px;
  text-align: center;
}


/* form styling */
#form-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: grey;
  opacity: 0.5;
  border: 1px solid red;
  left: 300px;
  top: 200px;
  width: 250px;
  }

.form-header {
    text-align: center;
}

.form-container-input-text{
  display: flex;
  flex-direction: row;
}

.form-input-description {
  text-align: center;
  font-size: 8px;
  padding: 9px;
}

.form-container-input {
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
}

.form-container-submit {
  text-align: center;
}

.resizedBox {
  width: 30px;
  height: 30px;
  border: 2px;
  border: 1px solid green;

}
.yearBox {
  width: 50px;
  height: 30px;
  border: 2px;
  border: 1px solid green;
}