body {
  margin: 0;
  background-color: #17182f;
  font-family: 'Cinzel', serif;
}
canvas {
  display: block;
  vertical-align: bottom;
  position: absolute;
}
/* ---- particles.js container ---- */
 
#particles-js {
  width: 100%;
  height: 100%;
}
 
#circle {
    width: 1000px;
    height: 1000px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 500px;
    margin-right: auto; 
    margin-left: auto;
  }
 
#your-sign-top-container {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}
 
#content-main-container {
  display: flex;
  flex-direction: column;
}
 
#form-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  opacity: 0.5;
  border: 1px solid red;
  left: 300px;
  top: 200px;
  width: 250px;
  }
 
.form-container-header {
    text-align: center;
}
 
#form-container-form {
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
}
 
.form-container-input {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
}
 
.form-container-submit {
  text-align: center;
}
 
#signs {
  background-color: white;
  opacity: 0.5;
}
 
.resizedBox {
  width: 30px;
  height: 30px;
  border: 2px;
}
.yearBox {
  width: 50px;
  height: 30px;
  border: 2px;
}

/* ---- reset ---- */
/* ---- reset ---- */

#main-container-1 {
  border: 4px solid red;
  height: 155vh;
}

#container-2-header {
  border: 3px solid blue;
  width: 765px;
  margin: 0 auto;
}

#container-3-body {
  border: 3px solid violet;
  height: 106vh;
}

.circle-container {
  position: relative;
  top: 112px;
}


#container-5-retrograde {
  border: 4px solid orange;
  text-align: center;
}

/* form styling */
#form-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: grey;
  opacity: 0.5;
  border: 1px solid red;
  left: 425px;
  top: 450px;
  width: 250px;
  z-index: 10;
  }

/* #container-8-form {
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 120px; 
  border: 4px solid black;
} */




/* .form-header-text {
  font-size: 8px;
  text-align: center;
} */

/* .form-header {
    text-align: center;
} */

/* .form-container-input-text{
  display: flex;
  flex-direction: row;
}

.form-input-description {
  text-align: center;
  font-size: 8px;
  padding: 9px;
} */

/* .form-container-input {
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
} */

/* .form-container-submit {
  text-align: center;
} */
